#main {
    
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    
}

#title {
    
    text-align: center;
    font-size: 50px;
    margin-bottom: 5%;
    
}

#section01 {
    
    width: 49%;
    float: left;
    margin-right: 2%;
    
    
}

#section02 {
    
    width: 49%;
    float: left;
    
}

#section03 {
    
    width: 100%;
    
}
  
  
form{
    margin-top: 50px; 
    width: 400px;
}
form ul{
    list-style-type: none;
}
form ul li{
    margin: 15px 0;
}
form label{
    display: block;
    font-size: 2em;
}
form input{
    font-size: 2em;
    padding: 5px;
    border: #ccc 2px solid;
    width: 100%
}
#medelande{
    width: 100%;
    font-size: 1.5em;
    padding: 5px;
    border: #ccc 3px solid;
}
#submit{
    width: 100%;
    margin-left: auto;
  }
@media screen and (max-width:1024){
	header{
		height:60px;
	}
	/*menu button*/
	#menuButton{
		display:block;
		float:right;
		height:60px;
		width:60px;
		border-left:solid 1px rgba(0,0,0,.2);
		text-transform:uppercase;
		text-align:center;
		text-decoration:none;
		color:#000;
		cursor:pointer;
	}
	#menuButton.expand{
		border-bottom:solid 1px #fff;
	}
	#menuButton.expand~ul{
		display:block;
	}
	#menuButton:before{
		font:25px Glyphicon;
		content:"\e236";
		display:block;
		margin-top:5px;
	}
	#menuButton:after{
		display:block;
		content:"Meny";
	}
	/*close button*/
	#menuButton.expand:before{
		content:"\e014";
	}
	#menuButton.expand:after{
		content:"St\00C4ng";
	}
}
